<section id="portfolio">
    <div class="wrapper">
        <div class="text-center">
            <h1 class="blue-title">Projects</h1>
        </div>
        <div id="vertical-timeline" class="light-timeline">

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4><a>博客小白: 网页作品</a></h4>
			<p>空气质量问题一直是人们关注的焦点，与我们的生活息息相关，这里我借助Tableau 以及网页设计课程所学的知识，完成了北京首都空气质量问题的一系列分析。</p>
		        <a class="btn-primary btn-blue btn-left" href="/portfolio/" target="_blank">Come on!</a>
                   
                </div>
            </div>
            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4><a>Pocket weather: An applet of WeChat</a></h4>
                    <p>
                        <span>An applet to provide weather conditions of prefecture-level cities in China. Scan the following two-dimensional code with WeChat to use it.</span>
                    </p>
                    <img src="../assets/images/pocket-weather.jpg"/>
                </div>
            </div>
			<div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-balance-scale" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4><a>喜欢我就关注我吧(*^▽^*)</a></h4>
                    <p>
			    <span>虽然我还是一个刚入github博客的小白，还有很多东西懵懵懂懂，也希望能学到更多的东西，如果大家喜欢我，就follow一下啦，欢迎大家指导。</span>
			    <div>			
			    <a class="github-button" href="https://github.com/Zhou-Yu-Jin/>
			    </div>
		            </p>
                </div>
            </div>
        </div>
    </div>
</section>
